
.row {
  margin: 0;  
  justify-content: space-between;  
}
.container {
  padding: 0 40px;
}

.text {
  font-size: 16px;
  color: #000;
  font-family: "PT Sans", sans-serif;
  &_bold {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    width: 100%;
  }
  &_sm {
    font-size: 14px;
  }
  &_title {
    margin: 80px 0 30px;
  }
}

.header {
  background: url(img/main-bg.png);
  color: #fff;
  padding: 24px 0 100px;
  text-align: center;
  &__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 48px;
    margin: 80px auto 84px;
    line-height: 119.8%;
  }
  &__text {
    color: #fff;
    font-size: 18px;
    margin: 0 auto;
  }
  &__links {
    margin: auto 0;
    margin-left: auto;
  }
  &__link {
    color: #fff;
    &:hover {
      color: #ff0;
      text-decoration: none;
    }
    &:active {
      color: #f00;
    }
    &:first-child {
      margin-right: 30px;
    }
  }
}
.nav {
  
  &__list {
    display: flex;
    padding-left: 61px;
    margin: auto 0;
  }
  &__item {
    list-style: none;
    margin-right: 61px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    color: #fff;
    &:hover {
      color: #ff0;
      text-decoration: none;
    }
    &:active {
      color: #f00;
    }
  }
}
.menu-btn {
  display: none;
}
.menu {
  position: absolute;
  top: 70px;
  right: 50px;
  background: #19263f;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba($color: #000, $alpha: .3);
  padding: 0 20px;
  &__item {
    list-style: none;
    margin: 10px 0;
  }
  &__link {
    color: #fff;
    &:hover {
      color: #ff0;
      text-decoration: none;
    }
    &:active {
      color: #f00;
    }
  }
  &_closed {
    display: none;
  }
}
.card {
  border: none;
  background-color: #fafafa;
  border-radius: 0;
  max-width: 340px;
  padding: 40px  35px 30px;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
  &__img {
    margin-bottom: 25px;
    height: 64px;
    display: flex;
    & img {
      margin: auto;
    }
  }
  &__link {
    color: #1657ab;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: 0;
    align-self: center;
    &:hover {
      text-decoration: none;
    }
  }
  &:hover {
    box-shadow: 0px 3px 5px rgba($color: #000, $alpha: .3);
  }
}

.product {
  max-width: 340px;
  padding: 40px  35px 30px;
  text-align: center;
  &__img {
    margin-bottom: 25px;
    height: 64px;
    display: flex;
    img {
      margin: auto;
    }
  }
}
.view-more-btn {
  border: 1px solid #85b657;
  border-radius: 3px;
  padding: 18px 50px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  margin: 0 auto;
  &:hover {
    background-color: #85b657;
    color: #fff;
    text-decoration: none;
  }
}
.main__text {
  align-self: flex-start;
}
.client-imgs {
  margin: 20px auto 117px;
}
.client-img {
  align-self: center;
  margin-right: 35px;
  &:last-child {
    margin-right: 0;
  }
}

.footer {
  background: #19263f;
  padding: 40px 0 52px;
  text-align: center;
  &__links {
    width: 300px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }
  &__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    &:hover {
      color: #ff0;
      text-decoration: none;
    }
    &:active {
      color: #f00;
    }
  }
  &__copyright {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
  }
}

.socials {
  margin-top: 26px;
  &__link {
    width: 50px;
    height: 50px;
    background: url(img/fb.png) rgba($color: #fff, $alpha: .3) no-repeat center;
    display: inline-block;
    border-radius: 50%;
    margin-right: 32px;
    
    &_tw {
      background-image: url(img/twitter.png);
  }
    &_inst {
      background-image: url(img/instagram.png);
      margin-right: 0;
    }
    &:hover {
      opacity: .7;
    }
  }
  
}

@media (max-width: 1200px) {
  .nav {
  
  &__list {
    display: flex;
    padding-left: 31px;
    margin: auto 0;
  }
  &__item {
    list-style: none;
    margin-right: 31px;
    &:last-child {
      margin-right: 0;
    }
  }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
  .row {
    justify-content: center;
  }
  .nav {
    display: none;
  }
  .text {
    &_title {
     margin-top: 40px; 
    }
  }
  .header {
    padding-bottom: 50px;
    &__links {
      display: none;
    }
    &__title {
      margin: 30px 0 40px;
    }
  }
 
  .menu-btn {
    display: block;
    margin: auto;
    margin-right: 0;
    .b {
    width: 36px;
    height: 5px;
    border-radius: 3px;
    background-color: #fff;
    margin: 5px 0;
    }
  }
  .card {
    margin-right: 20px;
    margin-top: 10px;
    padding: 15px 20px;
  }

  .client-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
  }
  .client-img {
    margin-top: 10px;
  }
}
@media (max-width: 426px) {
  .card {
    margin-right: 0;
  }
  .menu {
    top: 30px;
  }
  .row {
  justify-content: center;  
  }
  .header {
    &__title {
      font-size: 40px;
    }
    &__text {
      font-size: 16px;
    }
  }
}